.btn-edit{
  background-color: #007bff !important;
  border-color: #007bff;
  border-radius: 3px !important;
}
.btn-delete{
  background-color: #dd4b39!important;
  border-color: #d73925;
  border-radius: 3px !important;
}
.btn-update{
  background-color: #28a745!important;
  border-color: #28a745;
  border-radius: 3px !important;
}
#myTabContent{
  height: 100%!important;
}
.next_hover:hover, .prev_hover:hover{
  color: #eb2d89 !important;
  cursor: pointer;
}
.ic_prev,.ic_next{
  cursor: pointer;
}
.table_setting tbody tr:hover{
  background-color: #ebe7e7 !important;

}
.table_setting{
  table-layout: fixed;
}
.table_setting tbody tr td{
  word-wrap: break-word;
}
#nav_user,#nav_zone,#nav_yitu{
  display: none;
}
.table_setting th{
  border-top: none;
}
.content-table{
  height: calc(100vh - 352px)
}
.add_user{
  border: 1px solid #dad6d6;
  border-top: 3px solid #3c8dbc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 6px;
}
#result li {
  list-style-type: none;
  margin-top: 5px;
}
.box-header{
  border-bottom: 1px solid #dad6d6;
}
label{
  font-weight: bold;
}
.checkbox label{
  cursor: pointer;
}
.box-primary{
  border-top: 3px solid #3c8dbc;
}
.box{
  border-bottom: 1px solid #dad6d6;
  text-align: left;
  border-radius: 3px;
}
.box_history{
  border-radius: 3px;
}
.show_collapse{
  float: right;
}
.rules-box .modal-dialog .modal-content .title{
  color: black!important;
}
.rules-box .modal-dialog {
  max-width: 60% !important;
  min-width: 70%!important;
}
.detail-member .modal-dialog{
  max-width: 78%!important;
}
.cursor_img{
  cursor: pointer;
}
